%table.table.table-stripped
  %thead
    %th 部件名称
    %th 原材料及规格
    %th 数量
    %th 单价
    %th 合同号
    %th 时间
    %th 经手人

  - @chukus.each do |chuku|
    %tr
      %td= chuku.item_name
      %td= chuku.item_xinghao
      %td= chuku.quantity
      %td= chuku.price
      %td= chuku.hetong.try(:bianhao)
      %td= chuku.created_at
      %td= chuku.user.try(:name)

= paginate @chukus
