= form_for [:admin, @item], :form => "form form-horizontal" do |f|
  = control_group_helper "部件名称", "例如： 机油", f.object.errors[:name].first do
    = f.text_field :name, :class => "input-xxlarge"
  = control_group_helper "原材料名称及型号", "例如： 0001", f.object.errors[:xinghao].first do
    = f.text_field :xinghao, :class => "input-xxlarge"
  = control_group_helper "图纸编号", "例如： HB001", f.object.errors[:tuzhi].first do
    = f.text_field :tuzhi, :class => "input-xxlarge"
  = control_group_helper "单位", "例如： 桶， 件", f.object.errors[:unit].first do
    = f.select :danwei, options_for_select(Item::UNITS, @item.danwei)
  = control_group_helper "单价", "例如： 10", f.object.errors[:danjia].first do
    = f.text_field :danjia, :class => "input-xxlarge"
  = control_group_helper "数量", "例如： 19", f.object.errors[:quantity].first do
    = f.text_field :quantity, :class => "input-xxlarge"

  .actions
    = f.submit '入库', :class => "btn btn-primary"
    = link_to "返回", admin_items_path, :class => "btn"
