%legend 
  库存(
  = Item.count
  )

  %span.pull-right
    = link_to icon_link(:plus) + "  添加物品", new_admin_item_path

%table.table.table-stripped
  %thead
    %th 物品
    %th 型号
    %th 库内数量
    %th
    %th

  - @items.each do |item|
    %tr
      %td= item.name
      %td= item.xinghao
      %td= item.amount
      %td
        = link_to icon_link("arrow-up"),  new_admin_item_item_record_path(item, :usage_type => "item_in")
        = link_to icon_link("arrow-down"),  new_admin_item_item_record_path(item, :usage_type => "item_out")
        = link_to icon_link("th-list"), admin_item_item_records_path(item)
        = link_to icon_link(:search), edit_admin_item_path(item)
        = link_to icon_link(:trash), admin_item_path(item), :confirm => "此操作会删除物品,， 确认继续？", :method => :delete

= paginate @items
