%h1 Listing hetongs

%table
  %tr
    %th Bianhao
    %th Client name
    %th Client contact
    %th Price
    %th End time
    %th Beizhu
    %th
    %th
    %th

  - @hetongs.each do |hetong|
    %tr
      %td= hetong.bianhao
      %td= hetong.client_name
      %td= hetong.client_contact
      %td= hetong.price
      %td= hetong.end_time
      %td= hetong.beizhu
      %td= link_to 'Show', hetong
      %td= link_to 'Edit', edit_hetong_path(hetong)
      %td= link_to 'Destroy', hetong, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Hetong', new_hetong_path
