= form_for [:admin, @ruku], :class => "form form-horizontal" do |f|
  = f.hidden_field :user_id
  = control_group_helper "部件名称-型号", "例如： 机油", f.object.errors[:name_param].try(:first) do
    = f.text_field "name_param", :class => "input-xxlarge typeaheadName"

  = control_group_helper "数量", "例如： 3", f.object.errors[:quantity].try(:first) do
    = f.text_field :quantity, :class => "input-xxlarge"

  = control_group_helper "单价", "例如： 3", f.object.errors[:price].try(:first) do
    = f.text_field :price, :class => "input-xxlarge"

  = control_group_helper "供应商", "例如： 山东xx轴承", f.object.errors[:supplier].try(:first) do
    = f.text_field :supplier, :class => "input-xxlarge typeaheadSupplier"

  .actions
    = f.submit '出库', :class => "btn btn-primary"
    = link_to "返回", admin_dashboard_path, :class => "btn"

:javascript
  $(document).ready( function(){
    $(".typeaheadName").typeahead({
      source: function (query, process) {
        return $.get('/admin/items/search.json', { query: query }, function (data) {
          names = [];
          $.each(data, function(i, d){
            names.push(d.name + "-" + d.xinghao); 
          });
          return process(names);
        });
    }
    }
    );

    $(".typeaheadSupplier").typeahead({
      source: function (query, process) {
        return $.get('/admin/rukus/search_supplier.json', { query: query }, function (data) {
          return process(data);
        });
    }
    }
    );
    }
  )
