%h1 Listing items

%table
  %tr
    %th Name
    %th Xinghao
    %th Danjia
    %th Tuzhi
    %th Danwei
    %th Quantity
    %th User
    %th
    %th
    %th

  - @items.each do |item|
    %tr
      %td= item.name
      %td= item.xinghao
      %td= item.danjia
      %td= item.tuzhi
      %td= item.danwei
      %td= item.quantity
      %td= item.user_id
      %td= link_to 'Show', item
      %td= link_to 'Edit', edit_item_path(item)
      %td= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Item', new_item_path
