= form_for [:admin, @user], :class => "form form-horizontal" do |f|

  = control_group_helper "登录名", "必须是英文字母，例如： admin", f.object.errors[:login].first do
    = f.text_field :login, :class => "input-xxlarge"


  - if not @user.persisted?
    = control_group_helper "密码", "英文字母和数字，尽量选择复杂的密码", f.object.errors[:password].first do
      = f.password_field :password, :class => "input-xxlarge"

    = control_group_helper "确认密码", "和上面密码相同", f.object.errors[:password_confirmation].first do
      = f.password_field :password_confirmation, :class => "input-xxlarge"

  = control_group_helper "姓名", "姓名， 例如: 张三", f.object.errors[:name].first do
    = f.text_field :name, :class => "input-xxlarge"

  = control_group_helper "手机号码", "例如: 13912344321", f.object.errors[:mobile].first do
    = f.text_field :mobile, :class => "input-xxlarge"

  = control_group_helper "角色", "请选择角色", f.object.errors[:roles].first do
    %hr
    - User::ROLES.each_pair do |k, v|
      = check_box_tag "user[roles][]", k, @user.roles.include?(k.to_s)
      = v

  .actions
    = f.submit '保存', :class => "btn btn-primary"
    = link_to "返回", admin_users_path, :class => "btn"
