= form_tag change_password_path, :class => "form form-horizontal", :method => :put do
  - if params[:id]
    = hidden_field_tag "id", params[:id]
  = control_group_helper "新密码", "必须是英文字母和数字，例如： 123456xxx", ""  do
    = password_field_tag :password, "", :class => "input-xxlarge"
  = control_group_helper "密码重复", "和上面密码一致，例如： 123456xxx", "" do
    = password_field_tag :password_confirmation, "",  :class => "input-xxlarge"

  .actions
    = submit_tag "修改", :class => "btn btn-primary"
